{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="{% static 'deps/css/mediaplayer.css'%}">
    <div class="media_body">
        {% for vinyl in vinyls %} 
            <div class="{{vinyl.title}}">
                <img src="/media/{{vinyl.cover}}">
                {{vinyl.title}}
                {% for audio in audiofiles%}
                    {% if audio.vinyl_record.title == vinyl.title%}
                        <div class="song" onclick="sendValue(this)">
                            <p>{{ audio.title }}</p>
                            <p style="display: none;">{{ audio.audio_file }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}   
    </div>
    <hr>   
    {% for audio in audiofiles%}
        <audio controls>
            {{ audio.audio_file }}
            <source src="/media/{{ audio.audio_file }}" type="audio/mpeg">
        </audio>
    {% endfor %}   
    <script src="{% static 'deps/js/mediaplayer.js'%}"></script>
{% endblock %}