.media_body {
    /* background-color: gray; */
}

#coverImg {
    width: 400px;
    height: auto;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 200px;
}

#vinylTitle {
    font-size: 50px;
    margin-top: 10px;
}

#recorder {
    width: 700px;
    height: auto;
}

.image-container {
    position: relative;
    width: 700px;  
    height: 700px; 
    margin-top: 100px;
    margin-left: 500px;
}

#coverImg {
    position: absolute;
    width: 200px;
    top: 174px;
    left: -50px;
    border-radius: 50%;
}

#recorder {
    position: absolute;
    top: 0;
    left: 0;
}

#regulator {
    position: absolute;
    top: 200px;
    left: 330px;
}

#vinyl {
    position: absolute;
    width: 500px;
    top: 130px;
    left: 0;
}

#coverImg, #recorder, #regulator, #vinyl {
    display: block; 
}


@keyframes rotateVinyl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.vinyl-img.rotate, #coverImg.rotate {
    animation: rotateVinyl 5s linear infinite;
}
