{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <h1><a>Vinylon</a></h1>
        <form method="get">
            <div class="search">
                <input type="text" name="q" placeholder="Поиск по заголовку или автору" value="{{ request.GET.q }}">
            </div>
        </form>
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>